[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fal-client = "*"
fastapi = {extras = ["standard"], version = "*"}
python-dotenv = "*"
ipython = "*"
requests = "*"
websockets = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.12"
